.container {
    max-width: 1200px;
    margin: auto;
    .golden{
      color:#ffffff;
    }
  }
  header {
    background-color:#9400D3;
    background-color: #ff7979;
  
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .rounded {
        border-radius: 25px;
      }
    }
    
  }
  ///////////////////INVOIVE
  .invoice-box {
    max-width: 800px;
    margin: auto;
    padding: 30px;
    border: 1px solid #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, .15);
    font-size: 16px;
    line-height: 24px;
    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    color: #555;
}

.invoice-box table {
    width: 100%;
    line-height: inherit;
    text-align: left;
}

.invoice-box table td {
    padding: 5px;
    vertical-align: top;
}

.invoice-box table tr td:nth-child(2) {
    text-align: right;
}

.invoice-box table tr.top table td {
    padding-bottom: 20px;
}

.invoice-box table tr.top table td.title {
    font-size: 45px;
    line-height: 45px;
    color: #333;
}

.invoice-box table tr.information table td {
    padding-bottom: 40px;
}

.invoice-box table tr.heading td {
    background: #eee;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
}

.invoice-box table tr.details td {
    padding-bottom: 20px;
}

.invoice-box table tr.item td{
    border-bottom: 1px solid #eee;
}

.invoice-box table tr.item.last td {
    border-bottom: none;
}

.invoice-box table tr.total td:nth-child(2) {
    border-top: 2px solid #eee;
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    .invoice-box table tr.top table td {
        width: 100%;
        display: block;
        text-align: center;
    }
    
    .invoice-box table tr.information table td {
        width: 100%;
        display: block;
        text-align: center;
    }
}

/** RTL **/
.rtl {
    direction: rtl;
    font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
}

.rtl table {
    text-align: right;
}

.rtl table tr td:nth-child(2) {
    text-align: left;
}
////////////////single card
.product-card{
  width: 400px;
  background: #ecedef;
  padding: 40px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  text-transform: uppercase;
}
.product-card h1{
  font-size: 22px;
  margin-bottom: 4px;
}
.product-card p{
  font-size: 13px;
  color: #bbb;
}
.product-pic{
   background-image: url(https://i.ibb.co/x1bpPp3/loreal-paris-hair-care-shampoo-for-men-women-961.jpg);
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  transition: .6s linear;
  
}
.product-pic1{
  background-image: url(https://i.ibb.co/py8bpqr/748929eb030661e3fad2563b4d5afe58.jpg);
 width: 100%;
 height: 200px;
 background-size: cover;
 background-position: center;
 transition: .6s linear;
 
}

.product-colors{
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}

.product-colors span{
  width: 14px;
  height: 14px;
  margin: 0 10px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}
.blue{
  background: #7ed6df;
}
.green{
  background: #badc58;
}
.yellow{
  background: #f9ca24;
}
.rose{
  background: #ff7979;
}

.product-colors .active:after{
  content: "";
  width: 22px;
  height: 22px;
  border: 2px solid #8888;
  position: absolute;
  border-radius: 50%;
  box-sizing: border-box;
  left: -4px;
  top: -4px;
}
.product-info{
  display: flex;
  align-items: center;
}
.product-price{
  color: #7ed6df;
  font-size: 26px;
}
.product-button{
  margin-left: auto;
  color: #7ed6df;
  text-decoration: none;
  border: 2px solid;
  padding: 8px 24px;
  border-radius: 20px;
  transition: .4s linear;
}

.product-button:hover{
  transform: scale(1.06);
}

  //////////////////////////checkout
  .wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 550px;
    background: rgba(0,0,0,0.8);
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
  }
  
  .wrapper .title h1{
    color: #c5ecfd;
    text-align: center;
    margin-bottom: 25px;
  }
  
  .contact-form{
    display: flex;
  }
  
  .input-fields{
    display: flex;
    flex-direction: column;
    margin-right: 4%;
  }
  
  .input-fields,
  .msg{
    width: 48%;
  }
  
  .input-fields .input,
  .msg textarea{
    margin: 10px 0;
    background: transparent;
    border: 0px;
    border-bottom: 2px solid #c5ecfd;
    padding: 10px;
    color: #c5ecfd;
    width: 100%;
  }
  
  .msg textarea{
    height: 212px;
  }
  
  ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #c5ecfd;
  }
  ::-moz-placeholder {
    /* Firefox 19+ */
    color: #c5ecfd;
  }
  :-ms-input-placeholder {
    /* IE 10+ */
    color: #c5ecfd;
  }
  
  .btn {
      background: #ff7979;
      text-align: center;
      padding: 15px;
      border-radius: 5px;
      color: #fff;
      cursor: pointer;
      text-transform: uppercase;
  }
  
  @media screen and (max-width: 600px){
    .contact-form{
      flex-direction: column;
    }
    .msg textarea{
      height: 80px;
    }
    .input-fields,
    .msg{
      width: 100%;
    }
  }
  ///////////////login

  .loginA{
 display: inline-block;
  padding: 5px;
  }
  
  .loginL{
    padding:20px
  }
  .loginButton{
    background-color:#ff7979;
    color: black;
  
  }


  /// footer 
  footer {
    background: #f36767;
    color: #fcfcfc;
    font-family: "Roboto", sans-serif;
    padding: 36px;
  }
  
  footer a {
    color: #fcfcfc;
    text-decoration: none;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  
  footer .footer-container {
    display: flex;
    width: 900px;
    margin: 0 auto;
  }
  
  footer ul {
    list-style: none;
    margin-top: 16px;
    padding-left: 10px;
  }
  
  footer ul li {
    margin: 12px 8px;
  }
  
  footer .footer-left {
    padding-right: 100px;
    border-right: 1px solid #c4c4c4;
  }
  
  footer .footer-right {
    padding-left: 100px;
  }
  
  footer .social-icons {
    margin-top: 16px;
  }
  
  footer .social-icons a {
    text-decoration: none;
  }
  
  footer .social-icons img {
    margin: 0 16px;
  }
  
  footer .social-icons img:first-child {
    margin-left: 0;
  }
  h4{
    color: white;
  }
  
  footer .footer-right p {
    margin-top: 32px;
  }
  
  //////////album 
  .container-{
    max-width: 1200px;
    margin: auto;
    background: #e47966;
    padding:10px 10px;
}
.bg{
    background:white;
}
.album-grid{
  color: red;
  margin-top: 20px;
  margin-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
}

.pics{
color: white;
  height: 150px;
    object-fit: cover !important;
    overflow: hidden;
}
.progress{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50vh;
    padding-bottom: 50vh;
}
@media screen and (max-width: 1250px) {
    .container-{
        margin-left:25px;
        margin-right:25px;
    
    }
    .album-grid{
        grid-gap:10px;
    }
}

@media screen and (max-width: 981px) {
    .album-grid{
        grid-template-columns: repeat(2,1fr);
        grid-gap: 20px;
    }
}
@media screen and (max-width: 700px) {
    .album-grid{
        grid-template-columns: repeat(1,1fr);
        grid-gap: 20px;
    }
}

///////////start album card

 .main{
 
  margin: 2%;
 }
 
 .card-{
  
      width: 20%;
      display: inline-block;
      box-shadow: 2px 2px 20px black;
      border-radius: 5px; 
      margin: 2%;
     }
 
 .image- img{
   width: 100%;
   border-top-right-radius: 5px;
   border-top-left-radius: 5px;
   
 
  
  }
 
 .title-{
  
   text-align: center;
   padding: 10px;
   
  }
 
 h1{
   font-size: 20px;
  }
 
 .des-{
   padding: 3px;
   text-align: center;
  
   padding-top: 10px;
         border-bottom-right-radius: 5px;
   border-bottom-left-radius: 5px;
 }
 button{
   margin-top: 40px;
   margin-bottom: 10px;
   background-color: white;
   border: 1px solid black;
   border-radius: 5px;
   padding:10px;
 }
 button:hover{
   background-color: black;
   color: white;
   transition: .5s;
   cursor: pointer;
 }

 //////////////////// end album card

  // .tool{
  //   color:#ff7979
  // }
  

  
  /////////////////////////////////////// start card/////////////
  
  .card-container {
    background-color: #9400D3;
    min-width: 200px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    overflow: hidden;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2), 10px 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 0 20px 20px 0;
    transition: transform 0.2s ease;
    justify-content: center;
  }
  .card-container:hover {
    transform: translateY(-5px) scale(1.05);
  }
  
  .card-container img {
    border-radius: 5px;
    height: 150px;
    width: 180px;
    object-fit: cover;
  }
  
  .card-container h1 {
    margin: 10px 0;
    font-size: 16px;
  }
  
  .card-container p {
    font-size: 12px;
    overflow-y: scroll;
  }
  .card-container p::-webkit-scrollbar {
    display: none;
  }
  
//////////////////////////////end card////////////////

  /////////////////////////////ATHER CODE//////////////////////////////////////////////////
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  body {
    color: #fff;
    min-height: 100vh;
    // background-color: #020916;
  }
  
  body::-webkit-scrollbar {
    display: none;
  }
  .container {
    width: 1200px;
    margin: auto;
  }
  
  header nav {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  nav img {
    height: 100%;
    object-fit: cover;
  }
  nav h1  {
    font-style: italic;
    font-weight: 900;
  
  }
  h2{
    color: #f36767;
  }
  .input {
    position: relative;
    display: flex;
    align-items: center;
  }
  .input i {
    height: 100%;
    width: 50px;
    right: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  nav input {
    font-weight: 200;
    background-color: #ff7979;
    border-radius: 50px;
    border: 3px solid transparent;
    outline: none;
    padding: 7px 40px 7px 15px;
    width: 250px;
    color: white;
    transition: border 0.2s;
    font-weight: 600;
  }
  
  nav input:focus {
    border: 3px solid #384763;
  }
  
  .input i img {
    height: 18px;
    pointer-events: none;
    transition: transform 0.2s;
  }
  
  nav .input:focus-within i img {
    transform: scale(1.2);
  }
  
  nav input::placeholder {
    color: rgba(256, 256, 256, 0.5);
    font-weight: 400;
  }
  .nav-area {
      float: right;
      list-style: none;
      // margin-top: 30px;
  }
  .nav-area li {
      display: inline-block;
  }
  .nav-area li a {
      color: #ffffff;
      text-decoration: none;
      padding: 5px 20px;
      font-family: poppins;
      font-size: 16px;
      text-transform: uppercase;
  }
  .nav-area li a:hover {
      background: #fff;
      color: #333;
  }
  
  main .cover {
    width: 100%;
    height: 70vh;
    position: relative;
    overflow: hidden;
  }
  
  main .cover .cover-img,
  .cover .dim {
    width: 100%;
    object-fit: cover;
    height: 100%;
  }
  .overview-search {
    margin: 0 20px;
  }
  
  .results::-webkit-scrollbar {
    width: 10px;
  }
  
  .results::-webkit-scrollbar-thumb {
    background-color: #0c182c;
    border-radius: 10px;
  }
  
  main .cover-img {
    animation: inout 20s infinite 3s, loaded 3s ease-in;
  }
  @keyframes inout {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes loaded {
    0% {
      transform: scale(0.8);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .cover .dim .container {
    position: relative;
    top: 50%;
    left: 10%;
    transform: translate(-10%, -50%);
    display: flex;
    justify-content: space-between;
    height: 400px;
    align-items: center;
  }
  
  .controls button {
    background-color: transparent;
    outline: none;
    padding: 10px;
    border: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 30px;
    height: 40px;
  }
  
  .controls button:active {
    transform: scale(1.1);
  }
  
  .cover .dim .content h1 {
    font-weight: 400;
    font-size: 2rem;
  }
  
  .cover .dim .controls {
    display: flex;
    align-items: center;
    align-self: flex-end;
  }
  
  .controls p {
    color: #ffba00;
  }
  .controls .next {
    // background-image: url(../public/right.svg);
    margin-left: 10px;
  }
  
  .controls .previous {
    // background-image: url(../public/left.svg);
    margin-right: 10px;
  }
  
  main .cover .dim {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    background: #9400D3;
    background: radial-gradient(
      circle,
      rgba(1, 0, 14, 0.039653361344537785) 0%,
      rgba(0, 0, 0, 0.7707457983193278) 95%
    );
  }
  /* grid /////////////////////////////////////////////////  */
  
  .grid {
    margin-top: 50px;
  }
  .grid h1 {
    margin-bottom: 30px;
    font-weight: 300;
  }
  
  .top-rated,
  .upcoming,
  .most-popular {
    margin-bottom: 50px;
  }
  
  .cards {
    display: flex;
    overflow-x: scroll;
    margin-right: calc(-100vw / 2 + 1200px / 2);
    margin-left: calc(-100vw / 2 + 1200px / 2);
    padding-bottom: 10px;
    padding-left: calc(100vw / 2 - 1200px / 2);
  }
  
  .cards::-webkit-scrollbar-track {
    margin-left: calc(100vw / 2 - 1200px / 2);
  }
  .cards::-webkit-scrollbar {
    height: 10px;
  }
  
  .cards::-webkit-scrollbar-thumb {
    background-color: #0c182c;
    border-radius: 10px;
  }
  
  .cards .card {
    position: relative;
    margin-right: 20px;
    background-color: #fff;
    border-radius: 10px;
  }
  .card p{
    color : white;
  }
  
  .cards .card p {
    width: 100%;
    position: absolute;
    background-color:#ff7979;
    padding: 5px 10px;
    bottom: 0;
    border-radius: 10px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    font-size: 0.7rem;
  }
  
  .cards .card img {
    border-radius: 10px;
    height: 250px;
    object-fit: cover;
    display: block;
  }
  
  .cards .card:hover .overlay {
    transform: scale(1);
  }
 
  .card{
    transition: all 0.5s ease-in-out;
  }
  .card:hover{
    transform: scale(1.1);
  
  }
  .cards .card .overlay {
    z-index: 2;
    background-color: #ff7979;
    position: absolute;
    transform: scale(0);
    top: 0;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 10px;
    padding: 10px;
    transition: transform 0.1s ease-in;
    transform-origin: bottom;
    text-align: center;
  }
  .cards .card .overlay .date {
    font-weight: 400;
  }
  
  .cards .card .overlay small {
    overflow: hidden;
    font-weight: 200;
  }
  
  .cards .card .overlay::-webkit-scrollbar {
    width: 5px;
    border-radius: 10px;
  }
  .cards .card .overlay::-webkit-scrollbar-thumb {
    background-color: #ff7979;
    border-radius: 10px;
  }
  .cards .card .overlay::-webkit-scrollbar-button {
    display: none;
  }
  
  /* /////////////////////////////////////////////////////////////////////// */
  @media screen and (max-width: 1200px) {
    .container {
      width: auto;
      margin: 0 10px;
    }
    header nav input {
      width: 200px;
    }
    .cards {
      margin-right: 0;
      margin-left: auto;
      padding-left: 0;
    }
  
    .cards::-webkit-scrollbar-track {
      margin-left: 0;
    }
  }
  
  @media screen and (max-width: 400px) {
    .container {
      width: auto;
      margin: 0 10px;
    }
    header nav input {
      width: 200px;
    }
    .cards::-webkit-scrollbar {
      display: none;
    }
  
    .cards::-webkit-scrollbar-thumb {
      display: none;
    }
  }

  .login-page {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .dropbtn {
    background-color: #ff7979;
    color: white;
    padding: 8px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ff7979;
    min-width: 160px;
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #ff7979;}